<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>

  <div class='posts'>
  <% for(let i = 0; i<posts.length; i++) {  %>
    <div class="post">
                <h1 class="post-user"><%= posts[i].user %></h1>
                <%= posts[i].content %>
                <p>ID: <%= posts[i].id %></p>
    </div>
          <div class="comments">
                <% for(let j = 0; j<comments.length; j++) { %>
                        <% if (comments[j].postId == posts[i].id) { %>
                            <div class="comment">
                                <h1 class="comment-content"><%= comments[j].user %></h1>
                                <textarea class="comment-content" readonly><%= comments[j].content %></textarea>

                                <div class="comment-info">
                                    <p>Comment ID: <%= comments[j].id %></p>
                                    <p>Post ID: <%= comments[j].postId %></p>
                                </div>
                            </div>                    
                        <% } %>                      
                <% } %>
            </div>
        <% } %>
  </div>
  
</body>
</html>